body, html {
    margin: 0;
    padding: 0;
  }
  
  .image-container {
    width: 100%;
    height: 80vh;
    background-image: url('https://plus.unsplash.com/premium_photo-1675756583871-6be3905c4ef4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80');
    background-size: cover;
    background-position: center;
  }
  
  /* 1st card */
  .card-body1{
    margin-top: 100px;
    margin-left: 143px;
    margin-right: 143px;
    
  }

  .card1{
    height: 255px;
    display: flex;
    background-color: bisque;
    max-width: 1635px;
  }
  .card-left1{
    flex: 1 1 auto;
  }
  .card-title1{
    margin-top: 91px;
    margin-bottom: 91px;
    margin-right: 57px;
  }
  .card-subtile1{
    margin-bottom: 15px;
    margin-right: 57px;
  }
 
  /* 2nd card */
  .card-body2{
    margin-top: 54px;
    margin-left: 143px;
    margin-right: 142px;
    
  }

  .card2{
    height: 255px;
    display: flex;
    background-color: bisque;
    max-width: 1635px;
  }
  .card-left2{
    flex: 1 1 auto;
  }
  .card-title2{
    margin-top: 91px;
    margin-bottom: 91px;
    margin-right: 57px;
  }
  .card-subtile2{
    margin-bottom: 15px;
    margin-right: 57px;
  }
  /* 3rd card */
  .card-body3{
    margin-top: 54px;
    margin-left: 143px;
    margin-right: 142px;
    
  }

  .card3{
    height: 255px;
    display: flex;
    background-color: bisque;
    max-width: 1635px;
  }
  .card-left3{
    flex: 1 1 auto;
  }
  .card-title3{
    margin-top: 91px;
    margin-bottom: 91px;
    margin-right: 57px;
  }
  .card-subtile3{
    margin-bottom: 15px;
    margin-right: 57px;
  }
  /* 4th card */
  .card-body4{
    margin-top: 54px;
    margin-left: 143px;
    margin-right: 142px;
    
  }

  .card4{
    height: 255px;
    display: flex;
    background-color: bisque;
    max-width: 1635px;
  }
  .card-left4{
    flex: 1 1 auto;
  }
  .card-title4{
    margin-top: 91px;
    margin-bottom: 91px;
    margin-right: 57px;
  }
  .card-subtile4{
    margin-bottom: 15px;
    margin-right: 57px;
  }